



.banner-container1 {
    position: relative;
  }
  
  .banner-image1 {
    width: 98vw;
    height: 500px;
    margin: 0 auto;
    top: 0;
    background-image: url("../../assets/Home/b2.webp");
    background-size: cover;
    background-repeat: no-repeat;
    position: relative; 
  }
  
  .banner-overlay1 {
    position: absolute; 
    top: 0;
    left: 0;
    width: 100%; 
    height: 100%;
    background-color: rgba(129, 5, 129, 0.596); 
  }
  
  .banner-text1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: left;
    color: white;
    display: flex;
    flex-direction: row; 
  }
  
  /* .banner-text2 {
    position: relative; 
    text-align: center;
  } */

  .banner-text2 {
    display: flex;
    justify-content: space-between;
  }

  .text-content {
    flex: 1;

  }
  
  .image-content {
    flex: 1;
    display: flex;
    justify-content: flex-end;
  }

  .banner-text1 img {
    padding: 12px;
    width: 300px;
    height: 300px;
    border-radius: 50%;
   
    margin-top: 10px;
    cursor: pointer;
    transition: 0.5s ease;
    border-bottom: 4px solid white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  }

  .banner-text1 span{
    color: white;
    font-weight: 100;
    
  }
  
  .banner-text h1 {
    font-size: 2.5rem;
  }
  
  .banner-text p {
    font-size: 1.2rem;
  }


  
input:focus {
    outline: none;
  }

 


 button {
    color: white;
    border-radius: 5px;
    /* border: none; */
    cursor: pointer;
    width: 150px; 
    height: 48px; 
    border: 1px solid white;
}

