

.divWithBackground {
  position: relative; 
  background-image: url('../../assets/Home/div-banner.avif'); 
  background-size: cover; 
  background-attachment: fixed; 
  color:black; 
  padding: 20px; 
  text-align: center; 
}

.divWithBackground h2 {
  
  font-size: 24px; 
  font-weight: 300;
  /* margin-top: 20px; */

}

.divWithBackground span {
  color: black; 
  font-weight: 900;

}

.circle-card {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background-color: #f0f0f0; /* Add desired background color */
  display: flex !important;
  justify-content: center;
  align-items: center;
  /* border: 2px solid gray; */
  box-shadow: 0 20px 25px -5px rgb(0 0 0 / 0.4), 0 8px 10px -6px rgb(0 0 0 / 0.4);
}

.circle-cards-container{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  justify-content:space-around; 
 
}

.circle-card{
  display: flex;
  flex-direction: column;
}

.card-text {
 /* font-size: 20px; */
 font-weight: bold;
  text-align: center;
}

.card-subheading {
  /* font-size: 20px; */
  font-weight: bold;
  text-align: center;
 
  
}