

.div-with-background{
    position: relative; 
    background-image: url('../../assets/Home/div-banner.avif'); 
    background-size: cover; 
    background-attachment: fixed; 
    color:black; 
    padding: 20px; 
    height: 20vw;
    text-align: center; 
  }

  
.hover-card:hover {
    transform: scale(1.07);
    transition: transform 0.3s ease;
  }